.atencao{
    background-color: var(--atencao);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
}
.imagem-atencao{
    margin-right: 10px;
    object-fit: cover;
}
.atencao p.aviso{
    max-width: fit-content;
    text-align: center;
}
.formula{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.formula__container{
    background-image: linear-gradient(78deg, var(--degrade));
    padding: 20px;
    color: var(--cor-fonte);
}
.titulos-container{
    text-align: center;
}
.titulo-principal{
    font-size: 3em;
    font-weight: 700;
}
.subtitulo-formula{
    font-size: 1.3em;
    margin: 15px 0px;
}
.lista__container{
    padding: 8px;
    margin: 10px;
   
}
.lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.lista li{
    margin: 5px 0px;
    padding: 4px;
}
i.check{
    margin-right: 10px;
    font-size: 1.5em;
    font-weight: 700;

}
.imagem__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.imagem-remedio{
    width: 50%;
}
.elementor-shape-fill{
    fill: var(--cor-principal);
}
.quero-perder-peso__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.botao-compra{
    padding: 0.7em;
    background-color: var(--cor-botao);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.5em;
    box-shadow: 0px 0px 15px 0px #6363635b;
    font-weight: 700;
}
.seguro__container{
    margin: 15px;
    display: flex;
    justify-content: center;
}
.compra-segura-imagem{
    width: 100%;
}
.quero-perder-peso__container.pc{
    display: none;
}
.perda-peso-subtitulo.pc{
    display: none;
}
@media screen and (min-width:992px){
    .imagem-atencao{
        width: 40px;
    }
    .atencao{
        gap: 20px;
        padding: 7px;
    }
    .titulo-principal{
        font-size: 3.5em;
    }
    .titulos-container{
        margin-bottom: 10px;
    }
    .atencao p.aviso{
        text-align: left;
        width: 100%;
    }
    .container-apresentacao{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    section.formula__container{
        padding: 10px 80px;
    }
    span.destaque{
        color: transparent;
        -webkit-text-stroke: 0.8px #ffffff;
    }
    .lista li{
        font-size: 1.2em;
    }
    .imagem__container{
        display: block;
        margin: 0px;
        
    }
    .imagem-remedio{
        width: 300px;
    }
    .quero-perder-peso__container.phone{
        display: none;
    }
    .quero-perder-peso__container.pc{
        display: flex;
    }
    .botao-compra.pc{
        width: 80%;
    }
    .perda-peso-subtitulo.pc{
        display: block;
        width: 530px;
        font-size: 1.9em;
        line-height: 1.3em;
        font-weight: 700;
    }
    .formula{
        justify-content: start;
    }
    i.check{
        margin-right: 25px;
    }
    
}
@media screen and (min-width:1400px){
    .container-apresentacao{
        justify-content: space-around;
    }
}