.atencao{
    background-color: var(--atencao);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
}
.imagem-atencao{
    margin-right: 10px;
    object-fit: cover;
}
.atencao p.aviso{
    max-width: 300px;
    text-align: center;
}
.formula{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.formula__container{
    background-image: linear-gradient(78deg, var(--degrade));
    padding: 20px;
    color: var(--cor-fonte);
}
.titulos-container{
    text-align: center;
}
.titulo-principal{
    font-size: 3em;
    font-weight: 700;
}
.subtitulo-formula{
    font-size: 1.3em;
    margin: 15px 0px;
}
.lista__container{
    padding: 8px;
    margin: 10px;
   
}
.lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.lista li{
    margin: 5px 0px;
    padding: 4px;
}
i.check{
    margin-right: 10px;
    font-size: 1.5em;
    font-weight: 700;

}
.imagem__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.imagem__container .imagem-remedio{
    width: 50%;
}
.elementor-shape-fill{
    fill: var(--cor-principal);
}
.quero-perder-peso__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.botao-compra{
    padding: 0.7em;
    background-color: var(--cor-botao);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.5em;
    box-shadow: 0px 0px 15px 0px #636363;
    font-weight: 700;
}
.seguro__container{
    margin: 15px;
}
.compra-segura-imagem{
    width: 100%;
}