.car-truck{
    fill: #fff;
}
.frete-container{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    color: white;
}
h2.texto-frete{
    font-size: 0.9em;
    text-align: center;
}