@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url(reset.css);
@import url(apresentacao.css);
@import url(funcionamento.css);
@import url(beneficios.css);
@import url(frete.css);
@import url(mais-vendido.css);
@import url(resultados.css);
@import url(venda.css);
@import url(nuvem.css);
body{
    font-family: "poppins", Arial, sans-serif;
    
}
:root{
    --cor-principal: #318efd;
    --degrade: #4296fd,#2082fa,#0765da;
    --atencao: #074da3;
    --cor-botao: #09C61C;
    --cor-fonte: white;
    --cor-subtitulo: #326DB4;
    --tamanho-titulo-principal: 1.8em;
    --tamanho-titulo: 1.7em;
    --peso-titulo: 700;
}
